<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
      <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
     </webHttpBinding>
  </bindings>
    
    <services>
      <service name="ScaleService.Scale">
        <endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding"
          bindingConfiguration="webHttpBindingWithJsonP" contract="ScaleService.IScaleService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
