<configuration>
   <appSettings>
    <add key="port" value="COM3"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WindowsScaleTypeBehaviors" >
            <!-- Add the following element to your service behavior configuration. -->
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/mex"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
      <bindings>
        <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
       </webHttpBinding>
    </bindings>
    
    <services>
      <service name="ScaleService.Scale" behaviorConfiguration="WindowsScaleTypeBehaviors">
        <endpoint address="" 
                  behaviorConfiguration="AjaxBehavior" 
                  binding="webHttpBinding"
                  bindingConfiguration="webHttpBindingWithJsonP"
                  contract="ScaleService.IScaleService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
