<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      </behaviors>
  
    <client>
      <endpoint address="http://localhost:8080/" binding="webHttpBinding" contract="ScaleService.IScaleService" behaviorConfiguration="AjaxBehavior"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
